* {
    font-family: 'Raleway', sans-serif;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.go {
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.logout {
    position: fixed;
    bottom: 0;
    margin-bottom: 7px;
    
}

.res_table {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 15px;
}

a{
    text-decoration: none;
    color: black;
}